.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #8e44ad;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 10;
    border-radius: 25%;
  }
  
  .prev {
    left: 5px;
    margin: 0;
    padding: 0px 10px 0 9px;
    padding-bottom: 3px;
  }
  
  .next {
    right: 5px;
    margin: 0;
    padding: 0px 9px 0 10px;
    padding-bottom: 3px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }